html{
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
}

body{
    display: flex;
    align-items: center;
}

.container{
    text-align: center;
}

.container-calculator{
    background-color: #f0f0f0;
    width: 400px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid #999999;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    box-shadow: 10px 5px 5px black;
    flex: 1;
}

.display-calculator{
    margin: 15px 0px;
    background-color: rgba(255, 255, 255, .75);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.display-calculator .previous-operand{
    color: rgba(0, 0, 0, .75);
    font-size: 1.5rem;
}

.display-calculator .current-operand{
    color: black;
    font-size: 2.5rem;
}

.container-AllButton{
    display: flex;
    margin: 0;
    gap: 10px;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.last-button{
    display: flex;
    gap: 59px;
}
    
button{
    display: flex;
    color: #333333;
    font-weight: bold;
    justify-content: center;
    height: 100px;
    width: 90px;
    font-size: 25px;
    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    background-color: #FAFAFA;
}

button:hover{
    background: wheat;
}

button:active{
    background-color: green;
    transition: ease-in 0.2s;
}

.operator, .equal{
    background-color: #FFCC00;
}