:root{
    --darkreader-neutral-background: #181a1b;
    --darkreader-neutral-text: #e8e6e3;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
}

html{
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    /* background-color: beige; */
    background-color: #181a1b;
    color: #e8e6e3;
}

body{
    display: flex;
    align-items: center;
}


.container{
    text-align: center;
}

.container-calculator{
    background-color: rgb(26, 28, 29);
    box-shadow: rgb(0, 0, 0) 10px 5px 5px;
    width: 400px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(83 83 83);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    flex: 1;
}

.display-calculator{
    margin: 15px 0px;
    background-color: rgba(19, 21, 22, 0.75);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.display-calculator .current-operand{
    color: white;
    font-size: 2.5rem;
}

.container-AllButton{
    display: flex;
    margin: 0;
    gap: 10px;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.last-button{
    display: flex;
    gap: 59px;
}
    
button{
    display: flex;
    font-weight: bold;
    justify-content: center;
    height: 100px;
    width: 90px;
    font-size: 25px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid;
    color: rgb(193, 188, 180);
    border-color: rgb(118, 110, 97);
    background-color: rgb(21, 23, 24);
}

button:hover{
    background: gray;
}

button:active{
    background-color: green;
}

button.clear:active, button.backspace:active{
    background-color: red;
    transition: ease-in 0.1s;
}

.operator, .equal{
    background-color: rgb(122, 98, 0);
}